@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  background-color: rgb(129, 239, 152);
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 30px 300px; 
}
.box{
  height: 480px;
  width: 330px;
  margin: 10px 20px;
  position: absolute;
  background-color: rgb(63, 107, 107);
  border-radius: 5px;
  box-shadow: solid black 5px,5px,5px,5px;

}
.container{
  margin:10px 15px;
  margin-top: 40px;
}


.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
}
.button:hover{
  background-color: aquamarine;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}